.titulo {
    font-size: 24px;
    font-weight: bold;
    color: var(--foreground);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.qdd {
    background-color: transparent;
    padding: 10px;
    min-width: 80vh;
    min-height: 20vh;
    max-height: 40vh; 
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-y: auto;
}
.qdd::-webkit-scrollbar {
    width: 0px;
}
.criar-tarefa {
    padding: 10px 20px;
    background-color:var(--corPrimaria);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: end;
}

.criar-tarefa:hover {
    background-color: #0026ff;
}
.container {
    position: relative; /* Define o contexto de referência */
    max-width: 80vh;
    max-height: 18vh;
    min-height: 15vh;
    padding: 10px;
}
#put {
    height: 100px;
    width: 100%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.493);
    font-size: 12px;
    font-weight: normal;
    max-width: 40vh;
    max-height: 40vh;
    color: rgb(236, 226, 226);
    background-color: rgb(4, 0, 255);
}
#put:focus {
    outline: none;
    border-color: rgba(0, 187, 255, 0.5);
    box-shadow: rgba(0, 0, 0, 0.493);
}
.task-item {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background-color: rgba(25, 68, 207, 0.938);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.493);
    color: white;
}
#contentBox {
    overflow-y: auto;
    max-height: 50vh; /* Aumentado para mostrar mais tarefas */
    padding-bottom: 10px;
}
#put {
    resize: vertical;
    min-height: 60px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}
#criar-trf {
    position: absolute;
    right: 10px;
    bottom: 0; /* Posicionado bem abaixo da textarea */
    margin: 0;
    z-index: 10;
}