body{
    min-height: 95vh;
    max-height: 100vh;
    position: relative;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.corpo{
    height: 10vh;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.box{
    width: 300px;
    height: 50px;
    background-color: #5768FF;
    border-radius: 15px;
    display: flex; 
    justify-content: left; 
}

main{
    height: 40vh;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.cliente{
    padding-right: 10px;
}
img{
    height: 50px;
    width: 50px;
    justify-self: center;
    align-self: center;
}
.options{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
}

.task{
    margin-left: 35px;
}