body {
    min-height: 95vh;
    max-height: 100vh;
    position: relative;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.corpo {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 400px;
    height: 50px;
    background-color: #5768FF;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.box:hover {
    background-color: #4456ee;
    transform: translateY(-2px);
}

.box:active {
    transform: translateY(1px);
}

main {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cliente {
    padding-right: 10px;
}

img {
    height: 50px;
    width: 50px;
    justify-self: center;
    align-self: center;
}

.options {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.conf {
    font-weight: bold;
    color: white;
    font-size: 1.1em;
    margin-left: 10px;
}

/* Ícones em CSS puro */
.icon {
    width: 30px;
    height: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


#edit{
    margin-right: 160px;
}


p{
    color: white;
    font-weight: bold;
    margin-left: 20px;
}

