.titulo {
    font-size: 24px;
    font-weight: bold;
    color: var(--foreground);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-list {
    background-color: transparent;
    padding: 10px;
    min-width: 80vh;
    min-height: 20vh;
    max-height: 40vh; 
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-y: auto;
    
}

main {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cliente {
    padding-right: 10px;
}
.options {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}


.list-item {
    display: flex;
    align-items: center;
    padding: 1px;
    border-bottom: 10px ;
    background-color: blue;
    color: white;
    margin-bottom: 10px;
    border-radius: 2px;
    /*transition: background-color 0.3s ease;*/
    cursor: pointer;
    padding-left: 5px;
}

.criarLista {
    display: flex;
    justify-content: flex-end;
}

.button {
    padding: 10px 20px;
    background-color:var(--corPrimaria);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
